    
        .container {
            background-color: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 6px var(--shadow-color);
            width: 100%;
            max-width: 1000px;



        }


        
    